<%- include('layout/header'); %>

<div class="row products allProduct">
    <% products.forEach( (pro) => { %> 
        <div class="col-sm-6 col-md-4 mt-3 mb-3">
            <a class="pa" href="/products/<%= pro.category %>/<%= pro._id %>">
                <img class="pimage" src="/product_images/<%= pro._id %>/<%= pro.productImage %>">
            </a>
            <h3 class="text-capitalize"><%= pro.title %></h3>
            <h5>$<%= parseFloat(pro.price).toFixed(2) %></h5>
            <p class="ProductCategoryH" hidden><%= pro.category %></p>
            <a class="vd" href="/products/<%= pro.category %>/<%= pro._id %>">View Details</a>
        </div>
    <% }); %> 
</div>

<%- include('layout/footer'); %>
